@charset "UTF-8";

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
//Remove a barra de rolagem para telas menores
    body,html{
    //removendo para tirar a rolagem de tela
    width: 100vw; 
    height: 100vh;
}
*/
html {
    height: 100vh;
}

body {
    background: black url(/img/wp2.jpeg);
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(240, 248, 255, 0.795);
    width: 90vw;
    margin: auto;
    margin-top: 15px;
    border-radius: 7px;
    padding: 7px;

}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
}

img {
    display: block;
    margin: auto;
}

img#phone {
    display: block;
}

img#tablet {
    display: none;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}